.tabelCelHeight{
    .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
        padding: 6px 7px 6px 16px;
    }
}
.tabelCelDefaultHeight{
    .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
        padding: 16px 7px 16px 16px;
    }
   
}


.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
  }